@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

*{
    margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
	overflow: hidden;
	font-family: 'Otomanopee One', sans-serif;
}

.SplashForSmallDevices{
	z-index: 1;
	width: 100%;
	height: 100%;
	visibility: hidden;
	background-color: transparent;
	justify-content: center;
	align-items: center;
	display: flex;
	position: absolute;
    top: 0px;
	bottom: 0px;
	left: 0px;
	padding: 2rem;
	right: 0px;

}

.Splash{
	position: absolute;
    top: 0px;
	bottom: 0px;
	left: 0px;
	padding: 2rem;
	right: 0px;
    width: 100%;
	height: 100%;
    /* text-align: center; */
	justify-content: center;
	align-items: center;
	display: flex;
    z-index: 1;

	/* background-color: black; */
}

.TechnologiesUsed img{
	width: 20%;
	height: 20%;
}

.MouseControls img{
	width: 20%;
	height: 20%;
}

.KeyBoardControls img{
	width: 50px;
	height: 50px;
}


@media screen and (max-width:746px) {

	.Splash{
		visibility: hidden;
	}
	.SplashForSmallDevices{
		visibility: visible;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: transparent;
		justify-content: center;
		align-items: center;
		display: flex;
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		padding: 2rem;
		right: 0px;
	}
	/* .threejslogo{
		width: 50px;
		height: 100px;
	} */
	.TechnologiesUsed img{
		width: 45%;
		height: 45%;
	}
	
	
}