@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

*{
    margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
	overflow: hidden;
	font-family: 'Otomanopee One', sans-serif;
}

.SplashForSmallDevices{
	z-index: 1;
	width: 100%;
	height: 100%;
	visibility: hidden;
	background-color: transparent;
	justify-content: center;
	align-items: center;
	display: flex;
	position: absolute;
    top: 0px;
	bottom: 0px;
	left: 0px;
	padding: 2rem;
	right: 0px;

}

.smallScreenControls {
	visibility: hidden;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	padding: 1rem;
	right: 0px;
}

.Splash{
	position: absolute;
    top: 0px;
	bottom: 0px;
	left: 0px;
	padding: 2rem;
	right: 0px;
    width: 100%;
	height: 100%;
    /* text-align: center; */
	justify-content: center;
	align-items: center;
	display: flex;
    z-index: 1;

	/* background-color: black; */
}

.TechnologiesUsed img{
	width: 20%;
	height: 20%;
}

.MouseControls img{
	width: 20%;
	height: 20%;
}

.KeyBoardControls img{
	width: 50px;
	height: 50px;
}


@media screen and (max-width:746px) {

	.Splash{
		/* visibility: hidden; */
		display: none;
	}
	.SplashForSmallDevices{
		visibility: visible;
		z-index: 1;
		width: fit-content;
		height: 100%;
		background-color: transparent;
		justify-content: center;
		align-items: center;
		display: flex;
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		padding: 2rem;
		right: 0px;
	}
	/* .threejslogo{
		width: 50px;
		height: 100px;
	} */
	.TechnologiesUsed img{
		width: 45%;
		height: 45%;
	}
	
	.smallScreenControls {
		visibility: hidden;
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		/* padding: 1rem; */
		right: 0px;
	}
	.smallScreenControls ul {
		display: block;
		list-style: none;
	}
	.smallScreenControls li {
		margin: 10px;
		float: left;
	}
	.smallScreenControls button {
		padding: 1rem;
		background-color: none;
		border-radius: 100%;
		border: 1px solid black;
	}
	.smallScreenControls img {
		width: 1rem;
		height: 1rem;
	}
	.movementControls {
		position: absolute;
		/* top:0; */
		bottom: 0;
		/* left: 0;
		right: 0; */
		width: 100%;
	}
	.movementControls button{
		padding: 10px;
		background-color: none;
		border-radius: 100%;
		border: 1px solid black;
	}
	.forwardBackward {
		float: left;
	}
	.leftright {
		float: right;
	}
	.movementControls img {
		width: 2rem;
		height: 2rem;
	}
	#forward {
		transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
	}
	#backward {
		transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-o-transform: rotate(90deg);
	}
	#left {
		transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-o-transform: rotate(180deg);
	}
}